/* latin-ext */
@font-face  {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/8qcEw_nrk_5HEcCpYdJu8BTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face  {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/MDadn8DQ_3oT6kvnUq_2r_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html, body {
    font-family: Avenir Next, 'Lato', sans-serif;
    font-size: 16px;
	background-color: #d9d9d9;
}

body {
    max-width: 720px;
    padding: 20px;
	margin: auto;
	background-color: #e9e9e9;
	background: linear-gradient(#e9e9e9, #d9d9d9) no-repeat;
}

a {
    color: black;
    text-decoration: none;
	font-weight: bold;
}

a:hover {
    color: #404040;
    text-decoration: none;
}

a.wrapper {
	color: inherit;
	font-weight: inherit;
}

b, strong {
	font-weight: 500;
}


div.linkbutton {
    display: inline-block;
    border-radius: 4px;
    background-color: none;
    padding: 8px 16px;
    transition: 0.2s linear;
    font-weight: 500;
}

div.linkbutton:hover {
    background-color: #f7f7f7;
}


h1, h2, h3 {
	font-weight: 500;
	margin-bottom: 0;
}


p {
	margin: 1em 60px;
	line-height: 1.5em;
}

table  {
	margin: auto;
}

td.form-category {
	font-weight: 500;
}


.small {
	font-size: 75%;
}



header {
	padding: 28px;
	padding-bottom: 12px;
    text-align: center;
	filter: blur(1.5px);
}

header h1 {
    font-family: Inconsolata, monospace;
    line-height: 1em;
    font-size: 3em;
    font-weight: 600;
	margin: 0;
	color: rgba(0, 0, 0, 0.7);
	text-shadow: 0 0 2px white;
}

header p.subtitle {
    margin: 0;
}



#linkbar {
    width: 100%;
    text-align: center;
	margin-top: 20px;
}

footer  {
	margin-top: 40px;
}

footer p.footer-notice {
    font-size: 0.75em;
    text-align: center;
}



/* special properties */

ul.game_list {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.archive_game_list {
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 0;
}

li.game_banner,
li.archive_game_banner {
	position: relative;
	overflow: hidden;
	border-radius: 8px;
	margin: 16px 0px;
	background-size: cover;
	background-position: center;
}

li.game_banner {
	display: block;
	max-width: 720px;
	height: 180px;
}

li.archive_game_banner {
	display: inline-block;
	width: 220px;
	height: 180px;
	margin: 0px 10px;
}

a li.game_banner .description,
a li.archive_game_banner .description {
	display: block;
	height: 360px;
	padding: 4px 16px;
	background-color: rgba(255, 255, 255, 0.85);
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	transition: 0.2s;
}

.description h2 {
	font-family: Inconsolata, monospace;
	font-size: 24px;
	margin: 0.6ex 0;
	font-weight: bold;
}

.description h2 .game-date {
	display: inline-block;
	font-size: 12pt;
	font-weight: normal;
	margin-left: 8px;
}

.description p {
	font-size: 16px;
	margin: 0.6ex 0.1em;
	line-height: 1.4em;
}

a:hover li.game_banner .description,
a:hover li.archive_game_banner .description {
	top: 20%;
}
